################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WallpaperManager/bin/Debug
/WallpaperManager/obj/Debug
/WallpaperManagerGUI/bin/Debug
/WallpaperManagerGUI/obj/Debug
/WallpaperManager.v11.suo
